<!DOCTYPE html>
<html lang="en">

<head>
  <% include part/header.ejs %>
</head>

<body>
  <div class="container">
    <div class="row middle-xs">
      <div class="col">

        <h1>simon zhang.</h1>


      </div>
      <div class="col">

        <h2 class="subheader">
          art and design
        </h2>

      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <div class="links">
          <div>
            <a href="https://www.behance.net/not-simon"><i class="fab fa-behance-square"></i>
              <p>behance</p>
            </a>

          </div>
          <div>
            <a href="https://www.instagram.com/convertingjpg2pngallday/"><i class="fab fa-instagram"></i>
              <p>instagram</p>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
