$colorPrimary: #FD7C7C;
$colorLight: #FDFDFD;
$colorDark: #2B2B2B;

$fonturl: 'https://fonts.googleapis.com/css?family=Montserrat:500,900';
$fontname: 'Montserrat';

$fontsize: 14px;
$fontmedium: 500;
$fontblack: 900;
